{% include "includes/header.html" %}
{% load static %}
<div class="container">
    <h2 class="mb-4">Atelier pratique - Classification des vehicules</h2>
    <div class="row">
        <div class="col-md-6">
            <h3>Dataset des vehicules:</h3>
            <p>L'objectif de ce demonstration est de vous montrer comment on entraine un modele de regression logistique pour
                classifier les vehicules en Camion ou Touristique selon le nombre de roues et la hauteur donne</p>
            <p>Les modeles entraines et sauvegardes de cette atelier vont etre utiliser pour faire des classifications a base
                des donnees qui vont etre saisir par l'utilisteur de l'application via un formulaire unefois il clique sur le bouton
                "tester le modele"
            </p>
    </div>
    <div class="col-md-6">
        <img src="{% static 'images/camion.jpg' %}" width="40%">
        <img src="{% static 'images/touristique.jpg' %}" width="40%">
    </div>
</div>
<div>
    <a class="btn btn-success col-12 mt-2 mb-2" href="{% url 'regLog_tester' %}">Tester le modele</a>
</div>
<div>
    <iframe src="{% static 'pdfs/course_demonstration.pdf' %}" width="100%" height="600px" style="border:1px solide #ccc;">
        Ce navigateur ne support pas PDFs. veuillez le telecharger :)
        <a href="{% static 'pdfs/course_demonstration.pdf' %}">telecharger PDF</a>
    </iframe>
</div>
{% include "includes/footer.html" %}